<h2>Edit <%= @list.name %></h2>

<form action="/lists/<%= @list.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="list[name]">Name of List: </label><input type="text" name="list[name]" value="<%= @list.name %>"><br>
    <label for="list[date_created]">Date Created: </label><input type="date" name="list[date_created]" value="<%= @list.date_created %>"><br>
    <label for="list[date_due]">Date Due: </label><input type="date" name="list[date_due]" value="<%= @list.date_due %>"><br>
    <input type="submit" value="Submit">
</form>